<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gathrr</title>

  <!-- Font Styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/landing.css" type="text/css" />
  <link rel="stylesheet" href="/styles/listings.css" type="text/css" />


  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Icon Library -->
  <script src="https://kit.fontawesome.com/2abf93986a.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
    <span class="listed-cards-container">
      <h2>Listed Cards</h2>
      <div class="card-tiles-container">
        <% for (let cards of listedCards) { %>
            <div class="card-tile">
              <img src="<%= cards.image_url %>"></img>
              <div class="name-and-price">
                <h3>
                  <%= cards.name %>
                </h3>
                <h3>$<%= cards.price %>
                </h3>
              </div>
            </div>
        <% } %>
      </div>
    </span>
    <footer>
      <%- include('partials/_footer.ejs') %>
    </footer>
</body>

</html>
